<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="leg_gazebo" params="name load_force_sensors">

		<gazebo reference="${name}_haa_joint">
			<provideFeedback>true</provideFeedback>
		</gazebo>
		<xacro:if value="${load_force_sensors}">
			<gazebo>
				<plugin name="${name}_haa_sensor" filename="libgazebo_ros_ft_sensor.so">
					<robotNamespace>/hyq/internal_wrench/</robotNamespace>
					<updateRate>100.0</updateRate>
					<topicName>${name}_haa_joint</topicName>
					<jointName>${name}_haa_joint</jointName>
				</plugin>
			</gazebo>
		</xacro:if>

		<gazebo reference="${name}_kfe_joint">
			<provideFeedback>true</provideFeedback>
		</gazebo>
		<xacro:if value="${load_force_sensors}">
			<gazebo>
				<plugin name="${name}_kfe_sensor" filename="libgazebo_ros_ft_sensor.so">
					<robotNamespace>/hyq/internal_wrench/</robotNamespace>
					<updateRate>100.0</updateRate>
					<topicName>${name}_kfe_joint</topicName>
					<jointName>${name}_kfe_joint</jointName>
				</plugin>
			</gazebo>
		</xacro:if>

		<gazebo reference="${name}_hfe_joint">
			<provideFeedback>true</provideFeedback>
		</gazebo>
		<xacro:if value="${load_force_sensors}">
			<gazebo>
				<plugin name="${name}_hfe_sensor" filename="libgazebo_ros_ft_sensor.so">
					<robotNamespace>/hyq/internal_wrench/</robotNamespace>
					<updateRate>100.0</updateRate>
					<topicName>${name}_hfe_joint</topicName>
					<jointName>${name}_hfe_joint</jointName>
				</plugin>
			</gazebo>
		</xacro:if>

		<gazebo reference="${name}_upperleg">
			<kp>1000000.0</kp>
			<kd>100.0</kd>
			<mu1>1.5</mu1>
			<mu2>1.5</mu2>
			<fdir1>1 0 0</fdir1>
			<maxVel>1.0</maxVel>
			<minDepth>0.00</minDepth>
		</gazebo>
		<gazebo reference="${name}_lowerleg">
			<kp>1000000.0</kp>
			<kd>100.0</kd>
			<mu1>1.0</mu1>
			<mu2>1.0</mu2>
			<maxVel>1.0</maxVel>
			<maxContacts>1</maxContacts>
			<sensor name="${name}_shin_contact_sensor" type="contact">
                <always_on>true</always_on>
                <update_rate>250.0</update_rate>
                <contact>
                  <collision>${name}_lowerleg_collision</collision>
                </contact>
                <plugin name="${name}_shin_bumper" filename="libgazebo_ros_bumper.so">
                  <bumperTopicName>/hyq/${name}_shin_bumper</bumperTopicName>
                  <frameName>base_link</frameName>
                </plugin>
            </sensor>   
		</gazebo>

		<gazebo reference="${name}_foot">
                        <kp>1000000.0</kp>
                        <kd>100.0</kd>
                        <mu1>1.0</mu1>
                        <mu2>1.0</mu2>
                        <maxVel>1.0</maxVel>
			<maxContacts>1</maxContacts>
			<sensor name="${name}_foot_contact_sensor" type="contact">
				<always_on>true</always_on>
				<update_rate>250.0</update_rate>
				<contact>
					<collision>${name}_lowerleg_fixed_joint_lump__${name}_foot_collision_1</collision>
				</contact>
				<plugin name="${name}_foot_bumper" filename="libgazebo_ros_bumper.so">
					<bumperTopicName>/hyq/${name}_foot_bumper</bumperTopicName>
					<frameName>base_link</frameName>
					<robotNamespace>hyq</robotNamespace>
				</plugin>
			</sensor>
			<material>Gazebo/Black</material>
		</gazebo>
	</xacro:macro>

</robot>
