<?xml version="1.0"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="hokuyo_laser_gazebo" params="link_name frame_name ros_topic update_rate min_angle max_angle range">

		<gazebo reference="${link_name}">
			<sensor name="${link_name}_laser_sensor" type="ray">
				<always_on>true</always_on>
				<update_rate>${update_rate}</update_rate>
				<pose>0 0 0 0 0 0</pose>
				<ray>
					<scan>
						<horizontal>
							<samples>2</samples>
							<resolution>1</resolution>
							<min_angle>${-1 * PI / 180}</min_angle>
							<max_angle>${1 * PI / 180}</max_angle>
						</horizontal>
						<vertical>
							<samples>2</samples>
							<resolution>1</resolution>
							<min_angle>${-1*PI/180}</min_angle>
							<max_angle>${1*PI/180}</max_angle>
						</vertical>
					</scan>
					<range>
						<min>0.2</min>
						<max>${range}</max>
						<resolution>0.02</resolution>
					</range>
				</ray>
				<!-- test plugin -->
				<plugin name="${link_name}_controller" filename="libgazebo_ros_block_laser.so">
					<gaussianNoise>0.005</gaussianNoise>
					<alwaysOn>true</alwaysOn>
					<updateRate>${update_rate}</updateRate>
					<topicName>/${ros_topic}</topicName>
					<frameName>${frame_name}</frameName>
					<hokuyoMinIntensity>101</hokuyoMinIntensity>
				</plugin>
			</sensor>
		</gazebo>
	</xacro:macro>
</root>
