<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find sensors_description)/urdfs/sensors/imu.gazebo.xacro"/>

	<!-- ============================ IMU microstrain ============================== -->
	<!-- The xacro macro xacro:microstrain_3dmgx325_imu: imu frame -->
	<xacro:macro name="microstrain_3dmgx325_imu" params="parent *origin imu_name imu_topic update_rate">

		<!-- Joint -->
		<joint name="${imu_name}_joint" type="fixed">
			<xacro:insert_block name="origin"/>
			<parent link="${parent}" />
			<child link="${imu_name}"/>
		</joint>

		<!-- Link -->
		<link name="${imu_name}">
			<inertial>
				<origin xyz="-0.00020  0.00010  0.00110"/>
				<mass value="0.018"/>
				<inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" ixz="0.0" iyz="0.0"/>
			</inertial>
			<visual>
				<origin xyz="0.00485 0 -0.00105" rpy="0 0 0"/>
				<geometry>
					<box size="0.0329 0.0244 0.0111" />
				</geometry>
				<material name="black">
					<color rgba="0 0 0 0.9"/>
				</material>
			</visual>
		</link>
		
		<!-- IMU Gazebo plugin definition -->				
		<xacro:imu_sensor imu_name="${imu_name}" imu_topic="${imu_topic}"
		 	update_rate="${update_rate}"
			rate_mean="${microstrain_gx325_vel_mean}"
		 	rate_stddev="${microstrain_gx325_vel_stddev}"
		 	rate_bias_mean="${microstrain_gx325_vel_bias_mean}"
		 	rate_bias_stddev="${microstrain_gx325_vel_bias_stddev}"
		 	accel_mean="${microstrain_gx325_acc_mean}"
		 	accel_stddev="${microstrain_gx325_acc_stddev}"
			accel_bias_mean="${microstrain_gx325_acc_bias_mean}"
		 	accel_bias_stddev="${microstrain_gx325_acc_bias_stddev}"/>

	</xacro:macro>

</robot>
