<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description" 
        command="$(find xacro)/xacro --inorder '$(find legged_robot_description)/urdf/hyq_fixed/hyq.urdf.xacro'" />

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -model hyq -param robot_description
        -J lf_haa_joint 0 -J lf_hfe_joint 1.047 -J lf_kfe_joint -1.047
        -J rf_haa_joint 0 -J rf_hfe_joint 1.047 -J rf_kfe_joint -1.047
        -J lh_haa_joint 0 -J lh_hfe_joint 1.047 -J lh_kfe_joint -1.047
        -J rh_haa_joint 0 -J rh_hfe_joint 1.047 -J rh_kfe_joint -1.047"/>

</launch>
