<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description" 
        command="$(find xacro)/xacro --inorder '$(find legged_robots_description)/urdf/hyq/hyq.urdf.xacro'" />

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -model hyq -param robot_description -z 0.8"/>
        <!-- -J lf_haa_joint 0 -J lf_hfe_joint 0.785 -J lf_kfe_joint -1.571
        -J rf_haa_joint 0 -J rf_hfe_joint 0.785 -J rf_kfe_joint -1.571
        -J lh_haa_joint 0 -J lh_hfe_joint 0.785 -J lh_kfe_joint -1.571
        -J rh_haa_joint 0 -J rh_hfe_joint 0.785 -J rh_kfe_joint -1.571"/> -->
</launch>